<h1>Delivery Tracker</h1>

<h2>Expecting a package?</h2>
<p>Know if something gets lost in the mail.</p>


<%= form_tag("/insert_delivery") do %>
  <div>
    <label for="description">Description</label>
    <%= text_field_tag(:query_description, nil, id: "description") %>
  </div>

  <div>
    <label for="expected_on">Supposed to arrive on</label>
    <%= date_field_tag(:query_expected_on, nil, id: "expected_on") %>
  </div>

  <div>
    <label for="details">Details</label>
    <%= text_area_tag(:query_details, nil, id: "details") %>
  </div>

  <%= hidden_field_tag :query_user_id, current_user.id %>

  <div>
    <button type="submit">Log delivery</button>
  </div>
<% end %>


<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>


<div class="waiting_on">
  <h2>Waiting on</h2>

  <% @list_of_deliveries.select { |d| !d.received }.each do |delivery| %>
    <div>
      <p><strong><%= delivery.description %></strong></p>
      <p>Expected on: <%= delivery.expected_on.strftime("%B %d, %Y") %></p>

      <%= form_with url: "/modify_delivery/#{delivery.id}", method: :post do %>
        <%= hidden_field_tag :query_description, delivery.description %>
        <%= hidden_field_tag :query_expected_on, delivery.expected_on %>
        <%= hidden_field_tag :query_received, true %>
        <%= hidden_field_tag :query_user_id, delivery.user_id %>
        <button type="submit">Mark as received</button>
      <% end %>
    </div>
  <% end %>
</div>


<div class="received">
  <h2>Received</h2>

  <% @list_of_deliveries.select { |d| d.received }.each do |delivery| %>
    <div>
      <p><strong><%= delivery.description %></strong></p>
      <p>Expected on: <%= delivery.expected_on %></p>
      
     
      <a href="/delete_delivery/<%= delivery.id %>" data-method="get" rel="nofollow" onclick="return confirm('Are you sure?')">
        Delete
      </a>
    </div>
  <% end %>
</div>
